n8n/n8n___Incident_Response___1.json
{
  "name": "n8n - Incident Response - 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alertmanager",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1300,
        360
      ],
      "id": "b0e6095e-b162-4569-945a-38c3e7c02ecb",
      "name": "Webhook",
      "webhookId": "b2d81982-2ab3-477a-af44-730ae2660d24"
    },
    {
      "parameters": {
        "jsCode": "const alerts = items[0].json.body.alerts || [];\nreturn alerts.map(alert => ({\n  const startsAt = new Date(alert.startsAt);\n  const endsAt = new Date(alert.endsAt);\n  const hour = endsAt.getUTCHours();\n  const isBusinessHours = hour >= 9 && hour < 17; // 9 AM–5 PM UTC\n  const durationMinutes = (endsAt - startsAt) / 1000 / 60; // Duration in minutes\n  json: {\n    status: alert.status, // firing or resolved\n    alertname: alert.labels.alertname, // e.g., HighCPU\n    severity: alert.labels.severity, // e.g., critical\n    instance: alert.labels.instance, // e.g., 47.129.163.27:9100\n    service: alert.labels.service, // e.g., node\n    description: alert.annotations.description, // e.g., CPU usage description\n    startsAt: alert.startsAt, // e.g., 2025-05-25T06:40:29.682Z\n    endsAt: alert.endsAt, // e.g., 2025-05-25T06:42:59.682Z\n    fingerprint: alert.fingerprint, // e.g., 80e7d055dbb50b48\n    isBusinessHours: isBusinessHours, // true if within 9 AM–5 PM UTC\n    durationMinutes: durationMinutes // Duration in minutes\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        360
      ],
      "id": "41b3a8ca-dd2d-47a4-ac62-04eda1858c8e",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "apiToken",
        "resource": "incident",
        "operation": "create",
        "title": "=New incident for{{ $node[\"Code\"].json[\"instance\"] }}",
        "serviceId": "P24W65G",
        "email": "dev@bubobot.com",
        "additionalFields": {
          "details": "={{ $node[\"Code\"].json[\"description\"] }}"
        },
        "conferenceBridgeUi": {}
      },
      "type": "n8n-nodes-base.pagerDuty",
      "typeVersion": 1,
      "position": [
        -480,
        300
      ],
      "id": "e1d59b40-d7f4-450c-997f-d247411deccb",
      "name": "PagerDuty"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1fe12359-20f8-805b-9f1f-d72cc46aa2a7",
          "mode": "list",
          "cachedResultName": "Incidents",
          "cachedResultUrl": "https://www.notion.so/1fe1235920f8805b9f1fd72cc46aa2a7"
        },
        "title": "New incident",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Alert Name|title",
              "title": "={{ $node[\"Code\"].json[\"alertname\"] }}"
            },
            {
              "key": "Severity|select",
              "selectValue": "={{ $node[\"Code\"].json[\"severity\"] }}"
            },
            {
              "key": "Instance|rich_text",
              "textContent": "={{ $node[\"Code\"].json[\"instance\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "80551a56-ec63-4606-ae3d-33d3f22d246c",
      "name": "Update notion - Set to Outline Ready",
      "type": "n8n-nodes-base.notion",
      "position": [
        -460,
        560
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1254730427805990942",
          "mode": "list",
          "cachedResultName": "b0ld8",
          "cachedResultUrl": "https://discord.com/channels/1254730427805990942"
        },
        "channelId": {
          "__rl": true,
          "value": "1254730427805990945",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1254730427805990942/1254730427805990945"
        },
        "content": "=New incident in\nInstance: {{ $node[\"Code\"].json[\"instance\"] }}\nSeverity: {{ $node[\"Code\"].json[\"severity\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -480,
        120
      ],
      "id": "8f0d4231-6329-4aa9-98b9-08ba0990a63a",
      "name": "Discord1",
      "webhookId": "6e1014b5-d89d-4939-a1f3-b74c280ae73b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a593a5cb-afcb-42e5-90fc-56c246d2dda2",
              "leftValue": "{{ $node[\"Code\"].json[\"severity\"] }}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cefdcdda-fff7-4e39-b027-ff65f1fd049e",
              "leftValue": "{{ $node[\"Code\"].json[\"isBusinessHours\"] }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -780,
        200
      ],
      "id": "558cf34a-b6e3-4c11-a7db-e8b38819c229",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update notion - Set to Outline Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PagerDuty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1340a3a7-740a-4f40-a8d0-dacf0aef3b14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f21646e9824644bcc28ab48f4fbefcc86cd9556879c6164b59093857dd69987a"
  },
  "id": "OOXK2QR8KROVJ1Zz",
  "tags": []
}